.nav-link{
    
    font-size: 22px;
    font-family: verdana;
}

body {
    background-color:rgb(210, 232, 233)  !important;
}


/*login*/

.kapla {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-login {
  max-width: 380px;
  padding: 70px 70px 70px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;  
}


.form-login-heading{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*login*/
footer{
    height: 70px;
    
   
}
