
.nav-link{
    
    
    font-size: 22px;
    font-family: verdana;
    
}
body {
    background-color: rgb(232, 232, 222)!important;
}






p {
    font-size: 15px;
    font-family: verdana;
    overflow: auto;
}


h1 {
    color: firebrick;
    font-size: 32px;
}
 h3{
    color: crimson;
    margin-left: 3%;
    font-size: 20px !important;
}
footer{
    height: 70px;
    margin-left: 0px;
    margin-bottom: 0px;
   
   
}







    